{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">
    <div class="global">
        <!--header-->
        <header>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <article class="span12">
                            <div class="row">
                                <article class="span6">
                                    {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                                </article>
                                <article class="span6">
                                    {{widget('profile', 'form', { 'profileType':'form'})|raw}}
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </header>
        <div id="navigation">
            <div class="container">
                <div class="row">
                    <article class="span12">                        
                        <div class="row">
                            <article class="span7">
                                {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
                            </article>
                            <article class="span5 right">
                                {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'+1 959 603 6035'})|raw}}
                                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                            </article>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!--content-->
        <div id="contentInner">
            <div class="container">
                <div class="row">
                    <article class="span12">

                        {{zone('main')|raw}}

                    </article>
                </div>
            </div>
        </div>
        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <section class="span12">
                        <div class="row">
                            <article class="span3">
                                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo2.png')})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}
                            </article>
                            <article class="span6">
                                
                                <div class="row">
                                    <article class="span2">
                                        {{widget('content', 'fcontent1', {content: '<i class="fa fa-comment"></i><ul><li><a href="#">Our blog</a></li><li><a href="#">About our company</a></li><li><a href="#">Newsletters</a></li></ul>', lines: 'all'})|raw}}
                                        {{widget('space', 'space', {'height': '30'})|raw}}
                                    </article>
                                    <article class="span2">
                                        {{widget('content', 'fcontent2', {content: '<i class="fa fa-thumbs-o-up"></i><ul><li><a href="#">New resources</a></li><li><a href="#">Jobs</a></li><li><a href="#">Ask an expert</a></li></ul>', lines: 'all'})|raw}}
                                        {{widget('space', 'space', {'height': '30'})|raw}}
                                    </article>
                                    <article class="span2">
                                        {{widget('content', 'fcontent3', {content: '<i class="fa fa-file-text-o"></i><ul><li><a href="#">Privacy policy</a></li><li><a href="#">Terms & conditions</a></li><li><a href="#">Case studies</a></li></ul>', lines: 'all'})|raw}}
                                        {{widget('space', 'space', {'height': '30'})|raw}}
                                    </article>
                                </div>
                                
                                {{widget('navigation', 'navigation', {'align': 'left'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>
                            <article class="span1"></article>
                            <article class="span2">
                                {{widget('content', 'fcontent4', {content: '<i class="fa fa-envelope-o"></i>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<p>8901 Marmora Road<br />Glasgow, DO4 89GR.<br /><span>Freephone:</span>+1 800 559 6580<br /><span>Telephone:</span>+1 959 603 6035<br /><span>FAX:</span>+ 1 504 889 9898</p>', lines: 'all'})|raw}}
                                <div class="mail">
                                    {{widget('content', 'content', {content: 'E-mail:', lines: 'all'})|raw}}
                                    {{widget('profile', 'email', { 'profileType':'email', 'email':'mail@demolink.org'})|raw}}
                                </div>
                                {{widget('space', 'space', {'height': '30'})|raw}}
                            </article>
                        </div>

                        {{widget('companyname', 'companyname', {"business": "handyman"})|raw}}
                        {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'&copy 2013'})|raw}}
                        {{widget('space', 'space', {'height': '30'})|raw}}

                    </section>
                </div>
            </div>
        </footer>
    </div>    
</div>

{% endblock %}